.current-container {
    margin-bottom: 40px;

    .update-time {
        margin: 5px 0 12px;;
        font-size: 13px;
    }

    .summary-container {
        width: 100%;

        .summary-line {
            display: flex;
            margin-bottom: 20px;
            
            .current-temperature {
                display: flex;
                padding-right: 42px;
                align-items: center;

                .summary-icon {
                    width: 126px;
                    height: 106px;
                    padding: 9px 10px 0 0;
                }
                .temperature {
                    font-size: 90px;
                }
                .unit-group {
                    padding: 3px 12px 0;
                    text-align: center;

                    & > p {
                        font-size: 37px;
                        margin: 0;
                        font-weight: 600;
                    }
                    .btn-switcher {
                        padding: 0;
                        font-size: 32px;
                        background: transparent;
                        border: none;
                        color: white;
                        cursor: pointer;
                        opacity: 0.6;
                        transition: all .3s;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            .current-summary {
                .caption {
                    margin: 20px 0 15px 0;
                    font-size: 30px;
                    font-weight: 600;
                }
                .summary {
                    margin: 0;
                    opacity: 0.8;
                }
            }
        }
    }
}