@import '../../styles/mixins';

.detail-line {
    display: flex;
    justify-content: space-between;

    .detail-item {
        display: flex;
        align-items: center;

        .detail-icon {
            @include represent-icon;
            height: auto;
        }

        &-group {
            .detail-item-title {
                opacity: 0.8;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 0.4px;
            }
            .detail-item-value {
                font-size: 17px;
                font-weight: 500;

                .wind-dir-icon {
                    @include represent-icon(11px);
                    margin-left: 10px;
                    height: auto;
                }
            }
        }
    }
}