@mixin represent-icon(
    $width: 26px, 
    $opacity: 0.8, 
    $color: white, 
    $marginRight: 12px
) {
    width: $width;
    fill: $color;
    opacity: $opacity;
    margin-right: $marginRight;
}