@import '../../styles/mixins';

.forecast-container {
    position: absolute;
    z-index: 99;
    width: 1232px;
    margin: 72px 54px 5px;

    .location {
        &-home-icon {
            & > svg {
                @include represent-icon(17px, 1);
            }
        }
        &-name {
            font-size: 18px;
        }
    }

    .forecast-days {
        .forecast-title {
            text-transform: uppercase;
            margin-bottom: 22px;
            font-size: 14px;
            font-weight: 500;
        }

        .card-container {
            display: flex;
            justify-content: space-between;
        }
    }
}