.forecast-container {
    position: absolute;
    z-index: 99;
    width: 1232px;
    margin: 0 54px;

    .forecast-days {
        .forecast-title {
            text-transform: uppercase;
            margin-bottom: 22px;
            font-size: 14px;
            font-weight: 500;
        }

        .card-container {
            display: flex;
            justify-content: space-between;
        }
    }
}